<form action="/users" method="post">
	Name: <input type="text" name="name">
	Email: <input name="email" type="text">
	Chandle: <input type="text" name="chandle">
	Password: <input type="password" name="password">
	Password Confirmation<input type="password" name="password_confirmation">
	<input type="submit" value="Sign up">
</form>