<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Chitter</title>
	<link rel="stylesheet" href="/css/application.css">
	<link rel="stylesheet" href="/css/reset.css">
</head>
<body>
	<header>
		<% if !current_user %>
			<div id="logo">
				<h1>Chitter!</h1>
			</div>
			<div id="menu-button">
				<form action="/sessions/new" method="get">
				<input class="button" type="submit" value="Sign in!">
				</form>

				<form action="/users/new" method="get">
					<input class="button" type="submit" value="Sign up!">
				</form>
			</div>
		<% end %>
	</header>
	
	<div id="content">

		<% if flash[:notice] %>
		  <div id="notice"><%= flash[:notice] %></div>
		<% end %>

		<% if flash[:errors] && !flash[:errors].empty? %>
				Sorry, there were the following problems with the form.
			<ul id="errors">
				<% flash[:errors].each do |error| %>
					<li><%= error %></li>
				<% end %>
			</ul>
		<% end %>
		<%= yield %>

	</div>
</body>
</html>